#lightbox{
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #ffff;
	display: none;
	opacity: 0;
	cursor: pointer;
	transition: opacity 1s;
}

#lightbox img{
	width: 50%;
	height: 50%;
}

#lightbox.on{
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}\
@media screen and (max-width: 600px){
	#lightbox img{
/*	background-position: center;
	background-repeat: no-repeat;*/
	background-size:contain; 
	pointer-events: none;
    object-fit: cover;
	width: 50%;
	height: 50%;
	}
}